#frm1{
    padding-left:6%;
    padding-right:6%;
    padding-top:10px;
    padding-bottom:10px;
    border-right:0px solid #31B9E2;
    border-bottom:0px solid #06578D;
    margin-top:6px;
    margin-bottom:100px;
    margin-left: 10px;
    margin-right:10px;
    background-color: #31B9E2;
    border-radius:20px;
    }


#sec{
    padding-left:6%;
    padding-right:6%;
    padding-top:10px;
    padding-bottom:10px;
    border-right:0px solid #31B9E2;
    border-bottom:0px solid #06578D;
    margin-top:6px;
    margin-bottom:100px;
    margin-left: 10px;
    margin-right:10px;
    background-color: #31B9E2;
    border-radius:20px;
}